<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated goal_metamodel -->
      <package
            uri="http://www.example.org/goal_metamodel"
            class="goal_metamodel.Goal_metamodelPackage"
            genModel="model/goal_metamodel.genmodel"/>
   </extension>

</plugin>
