<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ioT_metamodel -->
      <package
            uri="http://www.example.org/ioT_metamodel"
            class="ioT_metamodel.IoT_metamodelPackage"
            genModel="model/ioT_metamodel.genmodel"/>
   </extension>

</plugin>
